## 1.WAP to create a dictionary containing names of your friends as keys and their surnames as values

In [2]:
friends=dict(Aayushi="Bajpai",Anubhi="Kansal",Apoorva="Kumar",Divya="Yadav",Eshna="Gupta")
friends

{'Aayushi': 'Bajpai',
 'Anubhi': 'Kansal',
 'Apoorva': 'Kumar',
 'Divya': 'Yadav',
 'Eshna': 'Gupta'}

## 2.WAP to create marks of five students in three subjects in five saperate dictionaries then create a nested dictionary which stores these five dictionaries and prints results of all the students

In [33]:
students=dict(stud1=dict(Maths=20,English=50,Chemistry=45),
                stud2=dict(Maths=30,English=25,Chemistry=50),
                stud3=dict(Maths=25,English=30,Chemistry=25),
                stud4=dict(Maths=40,English=35,Chemistry=40),
                stud5=dict(Maths=35,English=40,Chemistry=30))
students

{'stud1': {'Maths': 20, 'English': 50, 'Chemistry': 45},
 'stud2': {'Maths': 30, 'English': 25, 'Chemistry': 50},
 'stud3': {'Maths': 25, 'English': 30, 'Chemistry': 25},
 'stud4': {'Maths': 40, 'English': 35, 'Chemistry': 40},
 'stud5': {'Maths': 35, 'English': 40, 'Chemistry': 30}}

## 3.WAP to create marks of five students in three subjects in five saperate dictionaries, add their marks and store it in their respective dictionaries.

AttributeError: 'list' object has no attribute 'values'

## 4.WAP to create marks of five students in three subjects in five saperate dictionaries, add find who got highest marks in which subject.

TypeError: 'int' object is not callable

## 5.WAP to repeatitively asks a user for student name and marks. Store all of these in a dictionary whose keys are student names and values are marks

## 6.WAP to create a dictionary with month names as keys and no. of days as values. a. Ask user to input month name and print the no. of days it has b. Print all the months with 30 days

## 7.WAP to store details of 10 students in a dictionary with keys RollNo, Name, Marks, CGPA

## 8.You have a dictioanry d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5"}. WAP to reverse this i.e keys should become values and values should become keys. The result should be d2 = {"v5":"k5","v4":"k4","v3":"k3","v2":"k2","v1":"k1"}

## 9.WAP to input two dictionaries and print the overlapping keys in them.

## 10.WAP to check if two same values in a dictionary has different keys.