In [1]:
import pandas as pd
import numpy as np

### 1.WAP using Pandas to add multiple series in a data frame

In [2]:
a = pd.Series(['Ana', 'Priya', 'Charu', 'Suchi', 'Richa'])
b = pd.Series([45,65,78,12,4])
c = pd.Series([5,3,4,4,2])
d= pd.Series(['no','yes','yes','no','no'])
data = {"Name": a,
        "Score": b,
        "Attempts": c,
        "Qualify":d}
df = pd.DataFrame(data)
df

    Name  Score  Attempts Qualify
0    Ana     45         5      no
1  Priya     65         3     yes
2  Charu     78         4     yes
3  Suchi     12         4      no
4  Richa      4         2      no

### 2.WAP using Pandas to display the default index and set a column as an Index in a given dataframe.

In [7]:
print("Default Index:")
print(df)
print("\n Score as new Index:")
df1 = df.set_index('Score')
print(df1)

Default Index:
    Name  Score  Attempts Qualify
0    Ana     45         5      no
1  Priya     65         3     yes
2  Charu     78         4     yes
3  Suchi     12         4      no
4  Richa      4         2      no

 Score as new Index:
        Name  Attempts Qualify
Score
45       Ana         5      no
65     Priya         3     yes
78     Charu         4     yes
12     Suchi         4      no
4      Richa         2      no

### 3.WAP using Pandas to add multiple disctionaries in a data frame

### 4.WAP using Pandas to create a data frame with columns Name, Marks1, Marks2, Marks3, Marks4, Marks5, Total. Total is sum of marks1 to marks5 in each row.

In [46]:
df=pd.DataFrame({'Name':(['Ana', 'Priya', 'Charu', 'Suchi', 'Richa']),
                  'Marks1':([70,85,78,40,40]),
                  'Marks2':([50,10,41,40,10]),
                  'Marks3':([40,12,20,20,12]),
                  'Marks4':([51,82,84,64,12]),
                  'Marks5':([92,83,75,20,20]),
                 })
df['Total']=df. sum(axis=1)
print(df)

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total
0    Ana      70      50      40      51      92    303
1  Priya      85      10      12      82      83    272
2  Charu      78      41      20      84      75    298
3  Suchi      40      40      20      64      20    184
4  Richa      40      10      12      12      20     94

### 5.WAP using Pandas with dataframe of Ex 4 to find the students who scored more then 50% marks in total

In [51]:
df['Percent'] = (df['Total'] / 500) * 100
print(df)
print("\n")
print("students who scored more then 50%:\n")
print(df[df.Percent>50])

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4
2  Charu      78      41      20      84      75    298     59.6
3  Suchi      40      40      20      64      20    184     36.8
4  Richa      40      10      12      12      20     94     18.8


students who scored more then 50%:

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4
2  Charu      78      41      20      84      75    298     59.6

### 6.WAP using Pandas with dataframe of Ex 4 to find the students who scored more than 50% in total and marks1

In [55]:
print("students who scored more then 50% in total and marks1:\n")
(df[(df['Percent'] > 50) & (df['Marks1'] > 50)])

students who scored more then 50% in total and marks1:

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4
2  Charu      78      41      20      84      75    298     59.6

### 7.WAP using Pandas with dataframe of Ex 4 to find the students who scored more than 50% in total but less than 40 in marks1

In [59]:
print("students who scored more then 50% in total  but less than 40 in marks1:\n")
(df[(df['Percent'] > 50) & (df['Marks1'] < 40)])

students who scored more then 50% in total  but less than 40 in marks1:

Empty DataFrame
Columns: [Name, Marks1, Marks2, Marks3, Marks4, Marks5, Total, Percent]
Index: []

### 8.WAP using Pandas with dataframe of Ex 4 to find the students who scored max marks in total and marks1

In [97]:
max=df['Total'].max()
print("max of total:",max)
max1=df['Marks1'].max()
print("max of marks1:",max1)
print("students who scored max marks in total and marks1:\n")
print(df[(df.Total==max) | (df.Marks1==max1) ])

max of total: 303
max of marks1: 85
students who scored max marks in total and marks1:

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4

### 9.WAP using Pandas with dataframe of Ex 4 to find the students who scored more than the mean of total

In [75]:
m=df['Total'].mean()
print("Mean of the Total=",m)
print("\n")
print("students who scored who scored more than the mean of total:\n")
print(df[df.Total>m])

Mean of the Total= 230.2


students who scored who scored more than the mean of total:

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4
2  Charu      78      41      20      84      75    298     59.6

### 10.WAP using Pandas with dataframe of Ex 4 to find the students who scored more than the mean of total and marks1

In [76]:
m=df['Total'].mean()
print("Mean of the Total=",m)
m1=df['Marks1'].mean()
print("Mean of Mraks1=",m1)
print("\n")

print("students who scored who scored more than the mean of total and marks1:\n")

(df[(df.Total>m) & (df.Marks1>m1)])

Mean of the Total= 230.2
Mean of Mraks1= 62.6


students who scored who scored more than the mean of total and marks1:

    Name  Marks1  Marks2  Marks3  Marks4  Marks5  Total  Percent
0    Ana      70      50      40      51      92    303     60.6
1  Priya      85      10      12      82      83    272     54.4
2  Charu      78      41      20      84      75    298     59.6